@{
    ViewData["Title"] = "Home";
}




<body>
    <h1 style="font-weight:bolder;text-align:center;">Welcome to Premier League</h1><br />
        <img src="~/img/logo3.jpg"width="1000" height="664" style="margin-left:50px;" />



    
</body>